@import 'tailwindcss';

@plugin "daisyui" {
  themes: emerald --default;
  /* , dim --prefersdark; */
}

/* Montserrat Font */
@font-face {
  font-family: Montserrat;
  src: url('../public/assets/fonts/montserrat-alternates/MontserratAlternates-Medium.ttf');
}

@theme {
  --font-montserrat: 'Montserrat', 'sans-serif';
  --animate-fadeIn: fadeIn 0.3s ease-in-out;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
